<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="cosmicapplication.properties"/>

    <bean name="employeeStorage" class="com.clearn.storage.LocalEmployeeStorage">
        <property name="cosmicobject" value="${cosmicobject}"/>
        <property name="cosmicgalaxy" value="${cosmicgalaxy}"/>
    </bean>
    <bean name="employeeLogic" class="com.clearn.logic.EmployeeLogicImpl" autowire="byType"/>
</beans>